body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code {
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
